@page
@model AverageJoes.Pages.AboutUsModel
@{
}

<div class="AboutUsTitle">
    <h1>About Average Joe's</h1>
</div>

<div class="ownerContainer">
    <div class="ownerText">
        Peter LaFleur decided to open Average Joe's Gym as a place for people to workout that would avoid the arrogant mentality of many rival Globo gymgoers. 
        As someone who is very laid back, Peter wants Average Joe's Gym to be casual, allowing self motivation and himility to guide your own
        fitness journey. Peter hopes that you share his lifestyle and decide to come workout at Average Joe's Gym!
    </div>
    <div class="owner">
        Peter LaFleur
        <div id="ownerImage"></div>
    </div>
</div>

<div class="aboutDodgeballContainer">
    <div class="dodgeballTeam">
        Average Joe's Team Photo
        <div id="dodgeballTeamImage"></div>
    </div>
    <div class="aboutDodgeballText">
        Average Joe's rose to fame after defeating Globo Gym and winning the Dodgeball Tournament. 
        Average Joe's was a massive underdog and proved that even the little guys can win if you have heart.
        As well as renovations to improve the Gym, a new and improved Average Joe's now offers dodgeball classes 
        to the youth in order to keep the spirit of dodgeball alive.
    </div>
</div>